body{
font-family: sans-serif;
font-weight: bold;
}
.slideImages{
    width: 300px;
    max-width: 100%;
}
@media only screen and (max-width: 828px) {
    #container{
        width: 90%;
        overflow: hidden;
    }
    /*Top content*/
    #navigation{
        width: 380;
        height: 50px;
    }
    #hamburgerMenu{
        width: 45px;
        height: 30px;
        margin-top: 6px;
        cursor: pointer;
    } 
    .line{
        width: 100%;
        height: 4px;
        background-color: black;
        margin-top: 8px;
    }
    #farRight{
        float:right;
        margin-top: -35px;
    }
   #close{
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        margin-top: 57px;
        margin-left: 50px;
        display: none;
    }
    #search{
        width: 35px;
        cursor: pointer;
    }
    #cart{
        width: 35px;
        cursor: pointer;
    }
    #favourite{
        width: 35px;
        cursor: pointer;
    }
    #account{
        width: 40px;
        cursor: pointer;
    }
    #topContent{
    width: 330px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    }
    #searchBar{
        width: 230px;
        height: 28px;
        outline: none;
        display: none;
        transition: all 1s;
        border-width: 2px;
    }
    #searchBar:focus{
        width: 90%;
        outline: none;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: solid 3px black;
    }
    #logo{
        width: 240px;
        height: 120px;
        background-color: red;
        cursor: pointer;
    }
    /*Slider*/
    #sliderContainer{
        position: relative;
        overflow: hidden;
        height:200px;
        width: 400px;
    }
    .slide{
        position: absolute;
        overflow: hidden; 
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
    }
    .slideImages{
        width: 100%;
        height: 100%; 
    }
    /*Controls*/
    #Controls-Container{
        overflow: hidden; 
        height:30px;
        width: 400px;
        display: flex;
        flex-direction: row;
    }
    .showing{
        opacity: 1;
        z-index: 2;
    }    

    #previousSlide{
    cursor: pointer;
    }
    
    #pauseSlide{
       cursor: pointer;
       margin: auto;
       align-items: center;
       justify-content: center;
    }
    
    #nextSlide{
        float: right;
        margin-right: 16px;
        cursor: pointer;
    }

}